$colors: (
  primary: (
    main: hsl(248, 100%, 68%),
    darker: hsl(252, 65%, 50%),
    lighter: hsl(248, 100%, 77%),
    subtle: hsl(248, 100%, 90%)
  ),
  critical: (
    200: hsl(0, 100%, 75%),
    400: hsl(0, 100%, 68%),
    600: hsl(0, 100%, 62%),
    800: hsl(0, 77%, 55%)
  ),
  warning: (
    200: hsl(53, 97%, 72%),
    400: hsl(49, 98%, 64%),
    600: hsl(48, 100%, 50%),
    800: hsl(48, 100%, 45%)
  ),
  info: (
    200: hsl(218, 88%, 80%),
    400: hsl(220, 82%, 65%),
    600: hsl(216, 100%, 48%),
    800: hsl(216, 100%, 38%)
  ),
  success: (
    200: hsl(150, 79%, 63%),
    400: hsl(150, 68%, 54%),
    600: hsl(154, 94%, 39%),
    800: hsl(154, 94%, 34%)
  ),
  dark: (
    200: hsl(0, 0%, 73%),
    400: hsl(0, 0%, 52%),
    600: hsl(0, 0%, 32%),
    800: hsl(0, 0%, 18%)
  ),
  light: (
    200: hsl(240, 25%, 98%),
    400: hsl(240, 13%, 95%),
    600: hsl(240, 14%, 93%),
    800: hsl(200, 21%, 89%)
  )
);
