$colors: (
  primary: (
    main: hsl(248deg, 100%, 68%),
    darker: hsl(252deg, 65%, 50%),
    lighter: hsl(248deg, 100%, 77%),
    subtle: hsl(248deg, 100%, 90%)
  ),
  critical: (
    200: hsl(0deg, 100%, 75%),
    400: hsl(0deg, 100%, 68%),
    600: hsl(0deg, 100%, 62%),
    800: hsl(0deg, 77%, 55%)
  ),
  warning: (
    200: hsl(53deg, 97%, 72%),
    400: hsl(49deg, 98%, 64%),
    600: hsl(48deg, 100%, 50%),
    800: hsl(48deg, 100%, 45%)
  ),
  info: (
    200: hsl(218deg, 88%, 80%),
    400: hsl(220deg, 82%, 65%),
    600: hsl(216deg, 100%, 48%),
    800: hsl(216deg, 100%, 38%)
  ),
  success: (
    200: hsl(150deg, 79%, 63%),
    400: hsl(150deg, 68%, 54%),
    600: hsl(154deg, 94%, 39%),
    800: hsl(154deg, 94%, 34%)
  ),
  dark: (
    200: hsl(0deg, 0%, 73%),
    400: hsl(0deg, 0%, 52%),
    600: hsl(0deg, 0%, 32%),
    800: hsl(0deg, 0%, 18%)
  ),
  light: (
    200: hsl(240deg, 25%, 98%),
    400: hsl(240deg, 13%, 95%),
    600: hsl(240deg, 14%, 93%),
    800: hsl(200deg, 21%, 89%)
  )
);
