@import 'variables';

%content {
  position: absolute;
  content: '';
}

%container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

%input {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: $default-transition;
}
